In [14]:
import requests
r = requests.get("https://example.com")
print(r.status_code)

import sys
import os
# install package direcly in notebook: %pip install requests-html
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), ".."))) # lägg till training i path

200

In [24]:
import pandas as pd
from collections import Counter
import re

def most_frequent_terms(df, column, top_n=10):
    """
    Return the most frequent terms from a text column in a DataFrame.
    
    Args:
        df (pd.DataFrame): Input dataframe.
        column (str): Column name containing text.
        top_n (int): Number of most frequent terms to return.
        
    Returns:
        pd.DataFrame: DataFrame with term counts.
    """
    # Join all text in column into one big string
    text = " ".join(df[column].astype(str).tolist())
    
    # Tokenize: lowercase words, only keep a–z characters
    tokens = re.findall(r"\b[a-zA-ZåäöÅÄÖ]+\b", text.lower())
    
    # Count terms
    counter = Counter(tokens)
    
    # Convert to DataFrame
    most_common = counter.most_common(top_n)
    return pd.DataFrame(most_common, columns=["term", "count"])

In [ ]:
import pandas as pd
raw_data = pd.read_csv('../data/raw/jobs.csv')
#raw_data = raw_data.loc[raw_data['site']=='Aliant']
raw_data[['site', 'job_title','ingestion_ts']]

         site                             job_title         ingestion_ts
0      Aliant                      Scala-utvecklare  2025-09-15 13:40:39
1      Aliant                Medior Project Manager  2025-09-15 13:40:39
2      Aliant  Computer Vision - Android Automotive  2025-09-15 13:40:39
3      Aliant               Utvecklare - MES-system  2025-09-15 13:40:39
4      Aliant                   Sitecore-utvecklare  2025-09-15 13:40:39
..        ...                                   ...                  ...
440  Upgraded           Power Drive System Engineer  2025-09-15 13:53:36
441  Upgraded                     Siebel-utvecklare  2025-09-15 13:53:36
442  Upgraded                  Testare/Testdesigner  2025-09-15 13:53:36
443  Upgraded                        Kravanalytiker  2025-09-15 13:53:36
444  Upgraded   Lösningsarkitekt inom Apputveckling  2025-09-15 13:53:36

[445 rows x 3 columns]

In [22]:
raw_group = raw_data.groupby(by=['site']).count().reset_index()
raw_group

        site  site_id  job_title  raw_payload  ingestion_ts
0  A Society       86         86           86            86
1       Afry       73         73           73            73
2     Aliant        6          6            6             6
3  Combitech       26         26           26            26
4    Emagine       45         45           45            45
5      Ework       91         91           91            91
6     Nikita       17         17           17            17
7     Regent       25         25           25            25
8   Upgraded       76         76           76            76

In [25]:
df = most_frequent_terms(raw_data, "job_title", top_n=100)
df.to_csv('most_frequent.csv')

# Afry

In [45]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), ".."))) # lägg till training i path

from src.afry_scraper import AfryScraper
s = AfryScraper()

response = s.request_status()
job_posts = s.return_raw_job_posts_data(response)
scraped_raw_data = s.parse_raw_data(job_posts)
old_raw_data = s.read_stored_raw_data()

new_raw_data = s.return_new_rows(new_data=scraped_raw_data, old_data=old_raw_data)
s.unload_data(file_path = "../data/raw/jobs.csv", new_data = new_raw_data)

new_raw_data = s.load_last_added_raw_data()
new_bronze_data = s.parse_bronze_data(new_raw_data)
s.unload_data(file_path="../data/bronze/jobs.csv", new_data=new_bronze_data)

Afry > Response: 200
Afry > Nmr of scraped adds: 74
Afry > Unloading data to ../data/raw/jobs.csv. Nmr of new added jobs:1
Afry > Loading last scraped jobs, nr: 1
Afry > Parsing bronze data: 1
Afry > Unloading data to ../data/bronze/jobs.csv. Nmr of new added jobs:1

# Aliant

In [46]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), ".."))) # lägg till training i path

from src.aliant_scraper import AliantScraper
s = AliantScraper()

response = s.request_status()
job_posts = s.return_raw_job_posts_data(response)
scraped_raw_data = s.parse_raw_data(job_posts)
old_raw_data = s.read_stored_raw_data()

new_raw_data = s.return_new_rows(new_data=scraped_raw_data, old_data=old_raw_data)
s.unload_data(file_path = "../data/raw/jobs.csv", new_data = new_raw_data)

new_raw_data = s.load_last_added_raw_data()
new_bronze_data = s.parse_bronze_data(new_raw_data)
s.unload_data(file_path="../data/bronze/jobs.csv", new_data=new_bronze_data)

Aliant > Response: 200
Aliant > Nmr of scraped adds: 7
Aliant > Unloading data to ../data/raw/jobs.csv. Nmr of new added jobs:1
Aliant > Loading last scraped jobs, nr: 1
Aliant > Parsing bronze data: 1
Aliant > Unloading data to ../data/bronze/jobs.csv. Nmr of new added jobs:1

# Asociety

In [47]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), ".."))) # lägg till training i path

from src.asociety_scraper import ASocietyScraper
s = ASocietyScraper()

response = s.request_status()
job_posts = s.return_raw_job_posts_data(response)
scraped_raw_data = s.parse_raw_data(job_posts)
old_raw_data = s.read_stored_raw_data()

new_raw_data = s.return_new_rows(new_data=scraped_raw_data, old_data=old_raw_data)
s.unload_data(file_path = "../data/raw/jobs.csv", new_data = new_raw_data)

new_raw_data = s.load_last_added_raw_data()
new_bronze_data = s.parse_bronze_data(new_raw_data)
s.unload_data(file_path="../data/bronze/jobs.csv", new_data=new_bronze_data)

A Society > Response: 200
A Society > Nmr of scraped adds: 90
A Society > Unloading data to ../data/raw/jobs.csv. Nmr of new added jobs:4
A Society > Loading last scraped jobs, nr: 4
A Society > Parsing bronze data: 4
A Society > Unloading data to ../data/bronze/jobs.csv. Nmr of new added jobs:4

# Combitech

In [48]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), ".."))) # lägg till training i path

from src.combitech_scraper import CombitechScraper
s = CombitechScraper()

response = s.request_status()
job_posts = s.return_raw_job_posts_data(response)
scraped_raw_data = s.parse_raw_data(job_posts)
old_raw_data = s.read_stored_raw_data()

new_raw_data = s.return_new_rows(new_data=scraped_raw_data, old_data=old_raw_data)
s.unload_data(file_path = "../data/raw/jobs.csv", new_data = new_raw_data)

new_raw_data = s.load_last_added_raw_data()
new_bronze_data = s.parse_bronze_data(new_raw_data)
s.unload_data(file_path="../data/bronze/jobs.csv", new_data=new_bronze_data)

Combitech > Response: 200
Combitech > Nmr of scraped adds: 28
Combitech > Unloading data to ../data/raw/jobs.csv. Nmr of new added jobs:0
Combitech > Loading last scraped jobs, nr: 0
Combitech > Parsing bronze data: 0
Combitech > Unloading data to ../data/bronze/jobs.csv. Nmr of new added jobs:0

# Emagine

In [49]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), ".."))) # lägg till training i path

from src.emagine_scraper import EmagineScraper
s = EmagineScraper()

response = s.request_status()
job_posts = s.return_raw_job_posts_data(response)
scraped_raw_data = s.parse_raw_data(job_posts)
old_raw_data = s.read_stored_raw_data()

new_raw_data = s.return_new_rows(new_data=scraped_raw_data, old_data=old_raw_data)
s.unload_data(file_path = "../data/raw/jobs.csv", new_data = new_raw_data)

new_raw_data = s.load_last_added_raw_data()
new_bronze_data = s.parse_bronze_data(new_raw_data)
s.unload_data(file_path="../data/bronze/jobs.csv", new_data=new_bronze_data)

Emagine > Response: 200
Emagine > Nmr of scraped adds: 44
Emagine > Unloading data to ../data/raw/jobs.csv. Nmr of new added jobs:1
Emagine > Loading last scraped jobs, nr: 1
Emagine > Parsing bronze data: 1
Emagine > Unloading data to ../data/bronze/jobs.csv. Nmr of new added jobs:1

# Ework

In [50]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), ".."))) # lägg till training i path

from src.ework_scraper import EworkScraper
s = EworkScraper()

response = s.request_status()
job_posts = s.return_raw_job_posts_data(response)
scraped_raw_data = s.parse_raw_data(job_posts)
old_raw_data = s.read_stored_raw_data()

new_raw_data = s.return_new_rows(new_data=scraped_raw_data, old_data=old_raw_data)
s.unload_data(file_path = "../data/raw/jobs.csv", new_data = new_raw_data)

new_raw_data = s.load_last_added_raw_data()
new_bronze_data = s.parse_bronze_data(new_raw_data)
s.unload_data(file_path="../data/bronze/jobs.csv", new_data=new_bronze_data)

Ework > Response: 200
Ework > Nmr of scraped adds: 95
Ework > Unloading data to ../data/raw/jobs.csv. Nmr of new added jobs:3
Ework > Loading last scraped jobs, nr: 3
Ework > Parsing bronze data: 3
Ework > Unloading data to ../data/bronze/jobs.csv. Nmr of new added jobs:3

# Levigo 
(Inga uppdrag ute)

# Nikita 
Hemsida som renderar innehållet via JavaScript efter att själva HTML:en har laddats. I detta fall hittar man inte hittar uppdragen i Fetch/XHR i nätverksinspektionen – själva jobblistan hämtas inte via ett öppet API som returnerar JSON, utan genereras dynamiskt i webbläsaren.

In [51]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), ".."))) # lägg till training i path

from src.nikita_scraper import NikitaScraper
s = NikitaScraper()

response = s.request_status()
job_posts = s.return_raw_job_posts_data(response)
scraped_raw_data = s.parse_raw_data(job_posts)
old_raw_data = s.read_stored_raw_data()

new_raw_data = s.return_new_rows(new_data=scraped_raw_data, old_data=old_raw_data)
s.unload_data(file_path = "../data/raw/jobs.csv", new_data = new_raw_data)

new_raw_data = s.load_last_added_raw_data()
new_bronze_data = s.parse_bronze_data(new_raw_data)
s.unload_data(file_path="../data/bronze/jobs.csv", new_data=new_bronze_data)

Nikita > Response: 200
Nikita > Nmr of scraped adds: 18
Nikita > Unloading data to ../data/raw/jobs.csv. Nmr of new added jobs:0
Nikita > Loading last scraped jobs, nr: 0
Nikita > Parsing bronze data: 0
Nikita > Unloading data to ../data/bronze/jobs.csv. Nmr of new added jobs:0

# Regent

In [52]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), ".."))) # lägg till training i path

from src.regent_scraper import RegentScraper
s = RegentScraper()

response = s.request_status()
job_posts = s.return_raw_job_posts_data(response)
scraped_raw_data = s.parse_raw_data(job_posts)
old_raw_data = s.read_stored_raw_data()

new_raw_data = s.return_new_rows(new_data=scraped_raw_data, old_data=old_raw_data)
s.unload_data(file_path = "../data/raw/jobs.csv", new_data = new_raw_data)

new_raw_data = s.load_last_added_raw_data()
new_bronze_data = s.parse_bronze_data(new_raw_data)
s.unload_data(file_path="../data/bronze/jobs.csv", new_data=new_bronze_data)

Regent > Response: 200
Regent > Nmr of scraped adds: 26
Regent > Unloading data to ../data/raw/jobs.csv. Nmr of new added jobs:0
Regent > Loading last scraped jobs, nr: 0
Regent > Parsing bronze data: 0
Regent > Unloading data to ../data/bronze/jobs.csv. Nmr of new added jobs:0

# Updraged

In [53]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), ".."))) # lägg till training i path

from src.upgraded_scraper import UpgradedScraper
s = UpgradedScraper()

response = await s.request_status()
job_posts = s.return_raw_job_posts_data(response)
scraped_raw_data = s.parse_raw_data(job_posts)
old_raw_data = s.read_stored_raw_data()

new_raw_data = s.return_new_rows(new_data=scraped_raw_data, old_data=old_raw_data)
s.unload_data(file_path = "../data/raw/jobs.csv", new_data = new_raw_data)

new_raw_data = s.load_last_added_raw_data()
new_bronze_data = s.parse_bronze_data(new_raw_data)
s.unload_data(file_path="../data/bronze/jobs.csv", new_data=new_bronze_data)

Upgraded > Status code: 200
Upgraded > Nmr of scraped adds: 81
Upgraded > Unloading data to ../data/raw/jobs.csv. Nmr of new added jobs:2
Upgraded > Loading last scraped jobs, nr: 2
Upgraded > Parsing bronze data: 2
Upgraded > Unloading data to ../data/bronze/jobs.csv. Nmr of new added jobs:2

# Bronze table

In [56]:
import pandas as pd
import pandas as pd
bronze_data = pd.read_csv('../data/bronze/jobs.csv')
new_ads = bronze_data[['site', 'job_title', 'work_location','ingestion_ts', 'link']].sort_values(by='ingestion_ts', ascending=False)
new_ads.to_csv('new_ads.csv')